/* Tento soubor obsahuje základní styling pro Heading komponentu */

.heading {
    font-family: 'Bytebounce', sans-serif;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 4.5rem;
    font-weight: bold;
  }
  