/* Zajištění, že celý dokument bude mít výšku 100% a používat flexbox */
body {
  height: 100%;
  display: flex; /* Aktivuje flexbox */
  justify-content: flex-start; /* Horizontální zarovnání na levý okraj */
  align-items: flex-end; /* Vertikální centrování na spodní okraj */
  overflow: auto; /* Umožní scrollování, pokud obsah přesahuje výšku */
}

.base {
  transform: translateY(30%);
}

/* Styling boxu */
/* Styling boxu */
.box {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%; /* Box bude mít šířku 50% šířky okna */
  flex-direction: column;
  background: rgba(0, 0, 0, 0);
  border: 2px solid #000000;
  padding: 2rem; /* Padding v rem pro flexibilitu */
  display: flex; /* Flexbox pro centrování obsahu */
  align-items: center; /* Vertikální centrování v boxu */
  font-size: 1.2rem; /* Flexibilní velikost písma */
  border-radius: 1rem; /* Radius rohu pro zaoblení */
  opacity: 0; /* Skrytí boxu na začátku animace */

  animation: boxAnimation 1s ease-out forwards; /* Animace pro přechod */
}

.SkillWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Zarovnání položek do středu */
  margin: 20px auto;
  padding: 20px;
}


/* Definice animace */
@keyframes boxAnimation {
  0% {
    opacity: 0;
    transform: scale(1.2) translateY(50px); /* Začátek animace - box je větší a posunutý */
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0); /* Konec animace - box je na své normální velikosti */
  }
}

