/* ProgressBar.css */

/* Základní kontajner pro ProgressBar */

.progress-bar-container {
  width: min-content;  /* Použijeme 100% šířky pro přizpůsobení */
  max-width: 600px;  /* Maximální šířka */
  padding: 20px;
  border-radius: 20px;
  background-color: #000000;
  display: flex;  /* Použijeme flexbox */
  align-items: center;  /* Vertikálně centrovat obrázek a text */
  gap: 20px;  /* Prostor mezi obrázkem a textem */
}

.content {
  width: 100%;
  height: 150px;
}

/* Nadpis nad obsahem */
.header h3 {
  font-size: 30px;
  color: #ffffff;
  text-align: center;  /* Nadpis bude ve středu */
  width: 100%;
}

/* Obrázek nalevo */
.progress-bar-image {
  width: 100px;  /* Nastavíme pevnou šířku obrázku */
  height: 100px; /* Nastavíme pevnou výšku obrázku */
  object-fit:fill; /* Obrázek se přizpůsobí a vyplní vymezený prostor */
  border-radius: 10px;  /* Zaoblení obrázku */
}

/* Proužek pro progress bar */
.progress-bar {
  width: auto;  /* Proužek zabírá celou šířku */
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

/* Vyplněná část progress baru */
.progress-bar-fill {
  height: 100%;
  background-color: #5b12d1;  /* Vyplněná část má barvu fialovou */
  transition: width 0.5s ease-in-out;  /* Plynulý přechod pro změnu šířky */
}

.percentage-text {
  font-size: 50px;
  color: #000000;
  text-align: center;      /* Horizontálně centrováno */
  
  display: flex;          /* Použití flexboxu pro centrování */
  margin-left: 20px;
  justify-content: left; /* Vycentrování horizontálně */
  align-items: center;     /* Vycentrování vertikálně */
  
  height: 100%;            /* Zajistí, že kontejner bude mít výšku celého rodiče */
  width: 100%;             /* Ujistí se, že se text roztáhne na celou šířku */
}

